<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JsonProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>JsonService</servlet-name>
		<servlet-class>com.hk13a.service.JsonService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JsonAction</servlet-name>
		<servlet-class>com.hk13a.action.JsonAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JsonService</servlet-name>
		<url-pattern>/servlet/JsonService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JsonAction</servlet-name>
		<url-pattern>/servlet/JsonAction</url-pattern>
	</servlet-mapping>
</web-app>